$small:   0;
$medium:  40rem;
$large:   64rem;
$xlarge:  75rem;
$xxlarge: 90rem;

$breakpointAnchoGridMovil: 45rem;
$breakpointAltoGridMovil: 25rem;

$anchoMaximoContenido: 50rem;

$colorFondoSitio: #f8f8f8;
$colorDestacado: #f54337;

$colorTitulos: #333;
$colorTextos: #333;
$colorMetadatos: darken($colorFondoSitio, 35%);

$stackPrincipal: 'Source Sans Pro', Roboto, Arial, sans-serif;
$stackMono: 'Source Code Pro', Consolas, Monaco, monospace;

$colorFondoCodigo: rgba(#000, 0.05);
$colorFondoCodigoEnLinea: rgba(#000, 0.07);
$colorFondoCodigoSeleccionado: rgba(#000, 0.1);

$zIndexHeader: 2;
$zIndexFondo: 0;
$zIndexFooter: 2;
