.article-body h1 {
    @apply text-primary text-4xl;
}

.article-body h2 {
    @apply text-3xl;
}

.article-body h3 {
    @apply text-2xl;
}

.article-body p {
    @apply mb-3;
}

.article-body a {
    @apply text-blue-600;
}

.article-body > code,
.article-body > p > code {
    @apply bg-gray-50 text-sm px-1;
}

.article-body ul {
    @apply mb-5;
}

.article-body > li {
    @apply ml-6 list-disc;
}

.article-body > p:first-child {
    text-indent: 1em;
}

.article-body > blockquote {
    @apply bg-black bg-opacity-5;
    border-left: 0.25rem solid #F54337;
    margin: 1rem 0 1.35rem;
    padding: 0.65rem 0.25rem 0.15rem 1.5rem;
}
