html,
body {
    background: $colorFondoGlobal;
    box-sizing: border-box;
    font-family: $stackPrincipal;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    border-top: 3px solid $colorDestacado;
}

a {
    color: $colorEnlaces;
    font-weight: 600;
    &:hover {
        color: darken($colorEnlaces, 20%);
    }
    &:active {
        color: darken($colorEnlaces, 35%);
    }
}

.screenReader { //sass-lint:disable-line class-name-format
    display: none;
}

h1 {
    font-size: #{(24/16)}rem;
}

h2 {
    font-size: #{(22/16)}rem;
}

h3 {
    font-size: #{(20/16)}rem;
}

h1,
h2,
h3 {
    margin: 1.2em 0 0.6em;
}

img {
    max-width: 100%;
}

strong {
    font-weight: 600;
}

p {
    margin: 0.2em 0 0.85em;
}

code {
    background-color: $colorFondoCodigoEnLinea;
    display: inline-block;
    padding: 0 0.2em;
}

table {
    border-collapse: collapse;
    margin-bottom: 1.5em;
    width: 100%;
    td,
    th {
        border: 1px solid darken($colorFondoGlobal, 10%);
        padding: 0.25em 0.4em;
    }
    tbody {
        tr {
            &:nth-child(even) {
                background-color: darken($colorFondoGlobal, 3%);
            }
            &:hover {
                background-color: darken($colorFondoGlobal, 7%);
            }
        }

    }
}
