.contenido {
    color: $colorTextos;
    font-size: #{(18/16)}rem;
    font-weight: 400;
    margin: 0 auto 2em;
    line-height: 1.4;
    &__titulo {
        margin: 0 0 0.8rem;
    }
    .button {
        background: $colorDestacado;
        border: 2px solid $colorDestacado;
        color: #fff;
        display: inline-block;
        padding: 0.4em 0.6em;
        text-decoration: none;
        text-indent: 0;
        text-transform: uppercase;
        &:hover {
            background: darken($colorDestacado, 15%);
            border-color: darken($colorDestacado, 15%);
            color: #fff;
        }
        &:active {
            background: $colorDestacado;
            border-color: darken($colorDestacado, 25%);
        }
    }
}

.contenedor {
    margin: 0 auto 2em;
    max-width: $anchoMaximo;
    padding: 0 0.6em;
}

.contenedorBotonVerMas {
    margin: 0 auto 2em;
    max-width: $anchoMaximo;
    text-align: right;
}

.blog {
    margin: 0 auto;
    max-width: $anchoMaximo;
}
