html,
body {
    background: $colorFondoSitio;
    box-sizing: border-box;
    color: $colorTextos;
    font-family: $stackPrincipal;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@supports(display: grid) {
    body {
        display: grid;
        grid-template-columns: 25% auto;
        grid-template-rows: auto auto auto;
    }
}

a {
    color: $colorDestacado;
    font-weight: 600;
    &:hover {
        color: darken($colorDestacado, 20%);
    }
    &:active {
        color: darken($colorDestacado, 35%);
    }
}

h1 {
    font-size: rem(24);
}

h2 {
    font-size: rem(22);
}

h3 {
    font-size: rem(20);
}

h1,
h2,
h3 {
    margin: 1.2em 0 0.6em;
}

img {
    max-width: 100%;
}

strong {
    font-weight: 600;
}

p {
    margin: 0.2em 0 0.85em;
}

code {
    background-color: $colorFondoCodigoEnLinea;
    display: inline-block;
    padding: 0 0.2em;
}

svg {
    vertical-align: middle;
}
