.footer {
    background: $colorFondoSitio url('../svg/fondo-footer.svg') scroll no-repeat center bottom;
    color: #fff;
    z-index: $zIndexFooter;
    @supports(display: grid) {
        align-self: end;
        grid-column: 1 / span 2;
        grid-row: 3 / 3;
        justify-content: bottom;
        @include breakpoint {
            background: transparent;
            grid-column: 1 / 1;
            grid-row: 3 / 3;
        }
    }
    &__contenido {
        margin: 0 auto;
        max-width: $anchoMaximoContenido;
        padding: 1rem 0;
        text-align: right;
        @supports(display: grid) {
            flex: 1 1 $anchoMaximoContenido;
        }
        @media (min-width: $breakpointAnchoGridMovil) {
            text-align: left;
        }
    }
    &__enlaces {
        margin: 0;
        padding: 0 rem(15);
        @supports(display: grid) {
            @include breakpoint {
                padding-right: 3vh;
            }
        }
        li {
            margin-bottom: 0.35rem;
        }
    }
    ul {
        list-style: none;
        padding: 0;
    }
    a {
        color: #fff;
        display: inline-block;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    &__redes {
        margin: 0;
    }
}

@keyframes pulsar-fondo {
    from {
        background-color: transparent;
    }
    to {
        background-color: rgba(#fff, 0.14);
    }
}

.disponibilidad {
    animation: pulsar-fondo;
    animation-duration: 1s;
    animation-iteration-count: 2;
    background-color: rgba(#fff, 0.14);
    font-size: rem(16);
    line-height: 1.4;
    margin: 0 auto 1.35em;
    max-width: $anchoMaximoContenido;
    padding: rem(8) rem(15);
    text-align: center;
    @supports(display: grid) {
        @include breakpoint {
            padding-right: 3vh;
            text-align: left;
        }
    }
    &__status {
        display: block;
        font-size: rem(19);
        font-weight: 600;
        margin-bottom: 0.25em;
    }
    p {
        margin: 0;
    }
}
