.footer {
    background: $colorDestacado;
    color: #fff;
    @supports (display: grid) {
        align-self: end;
        grid-column: 1 / span 2;
        grid-row: 3 / 3;
        justify-content: center;
        @include breakpoint {
            background: transparent;
            grid-column: 1 / 1;
            grid-row: 3 / 3;
        }
    }
    &__contenido {
        margin: 0 auto;
        max-width: $anchoMaximoContenido;
        padding: 1rem 0 2rem;
        text-align: right;
        @supports (display: grid) {
            flex: 1 1 $anchoMaximoContenido;
        }
        @media (min-width: $breakpointAnchoGridMovil) {
            text-align: left;
        }
    }
    &__enlaces {
        margin: 0;
        padding: 0 rem(15);
        @supports (display: grid) {
            @include breakpoint {
                padding-right: 3vh;
            }
        }
        li {
            margin-bottom: 0.35rem;
        }
    }
    ul {
        list-style: none;
        padding: 0;
    }
    a {
        color: #fff;
        display: inline-block;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .creditos-iconos {
        font-size: rem(14);
    }
}
