.cabecera {
    background: $colorDestacado;
    color: #fff;
    margin-bottom: 1em;
    padding: 1em;
    &__logo {
        display: block;
        line-height: 0.9;
        margin: 0 auto;
        max-width: $anchoMaximo;
        span {
            display: block;
            font-weight: bold;
        }
    }
    span {
        display: block;
        font-size: #{(17/16)}rem;
        font-weight: normal;
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    a {
        color: inherit;
    }
    &__enlaceHome {
        display: inline-block;
        font-size: 2rem;
        font-weight: 600;
        padding: 0.4rem 0.5rem;
        padding-left: 100vh;
        margin-bottom: 0.15em;
        margin-left: -100vh;
        text-decoration: none;
        &:hover {
            background: rgba(#000, 0.2);
        }
    }
}
