.header {
    background: $colorFondoSitio url('../svg/fondo-cabecera.svg') scroll no-repeat center center;
    color: #fff;
    margin-bottom: 1em;
    position: relative;
    z-index: $zIndexHeader;
    @supports(display: grid) {
        grid-column: 1 / span 2;
        grid-row: 1 / 1;
        @include breakpoint {
            background: transparent;
            grid-column: 1 / 1;
            grid-row: 1 / span 2;
            margin-bottom: 0;
        }
    }
    &__titulo {
        color: #fff;
        display: block;
        line-height: 1.05;
        margin: 0 auto;
        max-width: $anchoMaximoContenido;
        padding: 1rem rem(15);
        a {
            background: $colorDestacado;
            color: #fff;
            display: inline-block;
            font-size: rem(28);
            font-weight: 600;
            text-decoration: none;
            &:hover {
                background: #fff;
                color: $colorDestacado;
            }
        }
    }
    &__trabajo {
        display: block;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.25;
        margin-top: 0.5em;
    }
    &__enlace-home {
        display: inline-block;
        font-size: 2rem;
        font-weight: 600;
        padding: 0.4rem 0.8rem 0.4rem 0.5rem;
        position: relative;
        text-decoration: none;
        z-index: 1;
        &:hover {
            color: $colorDestacado;
        }
    }
}

.fondo-lateral {
    grid-column: 1 / 1;
    grid-row: 1 / span 3;
    height: 100%;
    visibility: hidden;
    width: 100%;
    z-index: $zIndexFondo;
    @supports(display: grid) {
        @include breakpoint {
            visibility: visible;
        }
    }
}
