.cabecera {
    background: $colorDestacado;
    color: #fff;
    margin-bottom: 1em;
    padding: 1em;
    &__logo {
        display: block;
        line-height: 0.9;
        margin: 0 auto;
        max-width: $anchoMaximo;
    }
    &__puesto {
        display: block;
        font-size: 1rem;
        font-weight: normal;
        strong {
            font-style: italic;
            font-weight: 600;
        }
    }
    &__enlaceHome {
        color: #fff;
        display: inline-block;
        font-size: 2rem;
        font-weight: 600;
        padding: 0.4rem 0.5rem;
        padding-left: 100vw;
        margin-bottom: 0.15em;
        margin-left: -100vw;
        text-decoration: none;
        &:hover {
            background: rgba(#000, 0.2);
            color: #fff;
        }
    }
}
