.navegacionPrincipal {
    flex: 1 1 30%;
    font-size: 1.125rem;
    margin: 0 0 1em;
    order: 1;
    @media (min-width: $large) {
        flex: 1 1 20%;
        margin-top: 2.6em;
    }
    &__menu {
        list-style-type: none;
        margin: 0 0 1em;
        padding: 0;
        text-align: center;
    }
    &__menu--redesSociales &__item {
        display: inline-block;
        .icono {
            height: 2rem;
            width: 2rem;
        }
    }
    &__item {
        a {
            &,
            &:link,
            &:visited,
            &:hover,
            &:active {
                color: $colorItemMenu;
                display: inline-block;
                margin-bottom: 0.3em;
                padding: 0.3em 0.4em;
                text-decoration: none;
            }
            &:hover {
                color: darken($colorItemMenu, 10%);
            }
        }
        &#{&}--activo {
            a,
            a:link {
                color: $colorItemActivo;
                font-weight: 500;
            }
        }
    }
}
