.post {
    margin-bottom: 2em;
    padding: 0 0.8em;
    &__titulo {
        color: $colorTextos;
        font-size: #{(28/16)}rem;
        font-weight: 600;
        line-height: 1.2;
        margin: 0 auto 1em;
        max-width: $anchoMaximo;
        text-align: center;
        .single & {
            font-size: #{(28/16)}rem;
        }
    }
    &__meta {
        color: $colorMetadatos;
        font-size: #{(15/16)}rem;
        font-weight: 400;
        margin: 0 auto 0.35em;
        max-width: $anchoMaximo;
        text-align: center;
    }
    &__contenido {
        margin-bottom: 0.5em;
        > * {
            margin-left: auto;
            margin-right: auto;
            max-width: $anchoMaximo;
        }
        h1,
        h2,
        h3 {
            color: $colorTextos;
            font-weight: 600;
            line-height: 1.25;
            margin-bottom: 0.5em;
            margin-top: 1.6em;
            position: relative;
        }
        h1 {
            font-weight: 600;
        }
        h2 {
            font-size: #{(23/16)}rem;
            margin-bottom: 1em;
        }
        h3 {
            font-size: #{(20/16)}rem;
            font-weight: 600;
        }
        pre {
            font-size: #{(15/16)}rem;
            margin-bottom: 2em;
            margin-top: 2em;
        }
        :not(pre) > code {
            display: inline;
            font-size: #{(15/16)}rem;
            font-weight: normal;
            padding: 0;
        }
        ul,
        ol {
            padding-left: 1.25rem;
            text-align: left;
            li {
                margin-bottom: 0.5em;
                > ul,
                > ol {
                    margin-top: 0.5em;
                }
            }
            ul,
            ol {
                padding-left: 1.5rem;
            }
        }
        > p {
            text-indent: 0.7em;
            .button,
            img {
                // Cancela la sangría de .post__contenido > p
                margin-left: -0.7em;
            }
            > code {
                text-indent: 0;
            }
        }
        img {
            text-indent: 0;
        }
        blockquote {
            $color: #F9F580;
            background-color: $color;
            border-radius: 8px;
            box-shadow: 2px 2px 2px darken($color, 25%);
            margin-bottom: 1.2em;
            padding: 0.5em 0.75em;
            position: relative;
            code {
                background-color: rgba(0,0,0,0.15);
            }
            p {
                line-height: 1.35;
            }
            p:last-child {
                margin: 0;
            }
            ul {
                margin: 0.3em 0 0.5em 0;
                padding-left: 1.35em;
                li {
                    margin-bottom: 0.1em;
                }
            }
            a {
                color: #DF554C;
            }
        }
    }
    &__taxonomias {
        margin: 0 auto;
        max-width: $anchoMaximo;
        text-align: right;
        p {
            line-height: 1.7;
            margin: 0;
        }
        a {
            background: $colorDestacado;
            border: 2px solid $colorDestacado;
            color: #fff;
            display: inline-block;
            font-weight: 600;
            padding: 0.1em 0.4em;
            text-decoration: none;
            &:hover {
                background: #fff;
                color: $colorDestacado;
            }
        }
    }
    &.post--extracto {
        margin: 0.5em 0;
        padding: 0.5em 0;
        > a {
            display: block;
            padding: 0.8em 0.8em 0.8em 0;
        }
        &:last-child {
            border-bottom: 0;
        }
        .post__titulo {
            font-size: #{(22/16)}rem;
            margin: 0;
            text-align: left;
        }
        .post__meta {
            margin: 0;
            text-align: left;
        }
    }
}

.tablaDeContenidos {
    background: #e7e7e7;
    padding: 0.3em 0.6em 1.2em;
    @media (min-width: $large) {
        float: right;
        margin: 0 0 0.6em 1.2em;
        max-width: 20em;
    }
    &__titulo {
        border-bottom: 2px solid #dfdfdf;
        margin: 0 0 0.4rem;
        padding-bottom: 0.2em;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    ul ul {
        padding-left: 0.8em;
    }
    a {
        display: inline-block;
        line-height: 1.3;
        margin-bottom: 0.4em;
        text-decoration: none;
    }
}

.contenidoRelacionado {
    background-color: #f0f0f0;
    margin: 0 0 1.25em;
    padding: 0.4em 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: $anchoMaximo;
    }
    .anterior,
    .siguiente {
        display: block;
        flex: 1 1 50%;
        font-weight: 400;
        line-height: 1.3;
        margin: 0 0.8rem;
        padding: 0.5em 0;
        text-decoration: none;
        &::before {
            display: block;
            font-weight: 600;
            font-size: 1.1em;
            margin-bottom: 0.25em;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    .anterior {
        &::before {
            content: 'Anterior:';
        }
    }
    .siguiente {
        text-align: right;
        &::before {
            content: 'Siguiente:';
        }
    }
}

.comentarios {
    margin: 0 auto;
    max-width: $anchoMaximo;
    padding: 0 0.8rem;
    .dsq-brlink,
    noscript {
        display: block;
        text-align: center;
    }
}
