{{ define "main" }}

<section class="wrapper-contenido">

    {{ partial "navegacion" . }}

    <article class="articulo articulo--single">
        <header>
            <h1 class="articulo__titulo">{{- .Title -}}</h1>
            <p class="articulo__fecha-publicacion">
                <time datetime="{{ .PublishDate.Format "2006-01-02" }}" title="Fecha de publicación: {{ .PublishDate.Day }} de {{ index $.Site.Data.meses (printf "%d" .PublishDate.Month) }} del {{ .PublishDate.Year }}">Publicado el {{ .PublishDate.Day }} de {{ index $.Site.Data.meses (printf "%d" .PublishDate.Month) }} del {{ .PublishDate.Year }}</time>
            </p>
        </header>

        {{- if .Params.tableOfContents -}}
            {{ with .TableOfContents }}
            <aside class="tabla-de-contenidos"> 
                <h2 class="tabla-de-contenidos__titulo">Tabla de contenidos</h2>
                {{ . }}
            </aside>
            {{ end }}
        {{- end -}}

        <div class="articulo__contenido">
            {{- .Content -}}
        </div>

        <div class="articulo__taxonomias">
            {{ with .Params.etiquetas }}
            <p>Etiquetas: {{ range $index, $term := . -}}
                    {{- if $index }}, {{ end -}}
                    <a href="{{ "/etiquetas/" | relLangURL }}{{ $term | urlize }}">{{ $term }}</a>
                    {{- end -}}
                .</p>
            {{ end }}

            {{ with .Params.categorias }}
            <p>Categorías: {{ range $index, $term := . -}}
                {{- if $index }}, {{ end -}}
                <a href="{{ "/categorias/" | relLangURL }}{{ $term | urlize }}">{{ $term }}</a>
                {{- end -}}
                .</p>
            {{ end }}
        </div>

    </article>
    
    {{/* template "_internal/disqus.html" . */}}
    
</section>
{{ end }}
