<article class="articulo articulo--extracto">

    <p class="articulo__fecha-publicacion"><time>{{ .Date.Day }} de {{ index $.Site.Data.meses (printf "%d" .Date.Month) }}, {{ .Date.Year }}</time></p>
    <h2 class="articulo__titulo">
        <a href="{{ .Permalink }}" class="post__enlaceVerPost" title="Leer el artículo: {{ .Title }}">
            {{ if .Draft }}[DRAFT]{{ end }} {{ .Title }}
        </a>
    </h2>

    {{ if .Description }}
    <p class="articulo__descripcion">
        {{ .Description }}
    </p>
    {{ end }}

    {{ if or (isset .Params "series") (isset .Params "categorias") }}
    <p class="articulo__taxonomias">
        <span>

            {{ with .Params.categorias }}
            Publicado en {{ range $index, $term := . -}}
                {{- if $index }}, {{ end -}}
                <a href="{{ "/categorias/" | relLangURL }}{{ $term | urlize }}">{{ $term }}</a>
                {{- end -}}.
            {{ end -}}

            {{ if and (.Params.series) (.Params.categorias) }} <br> {{ end }}

            {{ with .Params.series }}
            Es parte de la serie {{ range $index, $term := . -}}
                <a href="{{ "/series/" | relLangURL }}{{ $term | urlize }}">{{ $term }}</a>
            {{- end }}
        {{ end }}


        </span>
    </p>
    {{ end }}
</article>
