<footer class="footer">
    <p>
        <a href="https://twitter.com/eliasdorigoni" rel="noopener" target="_blank" title="@EliasDorigoni en Twitter">{{ partial "svg/twitter.svg" }}</a> &nbsp; <a href="https://github.com/eliasdorigoni" rel="noopener" target="_blank" title="@EliasDorigoni en GitHub">{{ partial "svg/github.svg" }}</a>
    </p>
    <p>
        &copy; Elías Dorigoni<br>
        Última actualización: <time>{{ index $.Site.Data.meses (printf "%d" now.Month) }} {{ now.Year }}</time><br>
        Horneado en <span title="Argentina">{{ partial "svg/bandera.svg" }}</span>
    </p>
</footer>
