<footer class="footer">
    <div class="footer__contenido">
        {{ with .Site.GetPage "status" }}
            {{ if .Params.mostrar }}
                <div class="disponibilidad">
                    {{ .Content }}
                </div>
            {{ end }}
        {{ end }}
        <div class="footer__enlaces">
            <p class="footer__redes">
                <a href="https://twitter.com/eliasdorigoni" rel="noopener noreferrer" target="_blank">Twitter</a> / <a href="https://github.com/eliasdorigoni" rel="noopener noreferrer" target="_blank">GitHub</a>
            </p>
        </div>
    </div>
</footer>
